<div class="hero-container" >
    
    <div class="text-containter">
        
        <h1 class="hero-ask">Zalezy Ci na efektywnej nauce?
            Jesteś w dobrym miejscu!</h1>

        <p class="hero-ans">Serwis poświęcony nauce za pomocą fiszek umożliwia sprawne i
            przyjemne przyswajanie nowej wiedzy. Wykorzystuje afektywne
            zapamiętywanie, które polega na tym, ze zamiast czytania od razu słowa i definicji,
            starasz się najpierw samodzielnie odnaleźć w pamięci potrzebne informacje.</p>

        <h1 class="hero-ask">Czym są fiszki?</h1>

        <p class="hero-ans">Fiszki to świetne narzędzie wspomagające naukę. Są to małe katry zawierające
            informacje po obu stronach. Stworzenie fiszki polega na napisaniu słowa/wyrazenia
            na froncie karty oraz jego definicji czy tez tlumaczenia na odwrocie.
            Fiszki w wersji cyfrowej są bardzo wygodne, nieograniczone i co najważniejsze - łatwo dostępne.</p>

        </div>
    </div>
<div class="down-section">
    <table class="table">
        <tr>
            <th><mat-card class="example-card">
                <img mat-card-image
                    src="https://cdn-icons.flaticon.com/png/512/3152/premium/3152908.png"
                    alt="obraz1">
                <mat-card-content>
                    <p class="desc">
                        Przyjemna forma nauki oraz system powtórek gwarantuje szybkie przyswojenie nowej wiedzy!
                    </p>
                </mat-card-content>
            </mat-card></th>
            <th><mat-card class="example-card">
                <img mat-card-image
                    src="https://cdn-icons-png.flaticon.com/512/5807/5807910.png"
                    alt="obraz2">
                <mat-card-content>
                    <p class="desc">
                        Dostęp do statystyk pozwala monitorować postępy, dzięki czemu Twoja motywacja wzrasta!
                    </p>
                </mat-card-content>
            </mat-card></th>
            <th><mat-card class="example-card">
                <img mat-card-image
                    src="https://cdn-icons-png.flaticon.com/512/4297/4297861.png"
                    alt="obraz3">
                <mat-card-content>
                    <p class="desc">
                         Sam ustalasz jak duzo chcesz się nauczyć, to sprawia ze nauka nigdy nie jest męcząca ani nudna!
                    </p>
                </mat-card-content>
            </mat-card></th>
        </tr>
    </table>
        <table class="table">
         <div class="hero-down-container">
            <tr>
                <th>
            <div class="text">
                <p>To bardzo proste!</p>
                <p>1. Stwórz nowy zestaw</p>
                <p>2. Wprowadź hasła oraz definicje fiszek</p>
                <p>3. Wybierz ilość fiszek do nauki</p>
                <p>4. Opanuj wiedzę w szybki i przyjemny sposób</p>
                <p>5. Ciesz się z dobrze utrwalonych informacji </p>
            </div>
            </th>
            <th>
            <div class="image" >
                <img width="420px" height="240px" >
            </div>
            </th>
        </div>   

</table>

</div>