#site-login {
  background-color: rgb(192, 214, 235);
    height: calc(100vh - 104px);
    font-weight:200;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#panel {
  width: 400px;
  height: 250px;
  margin: 180px auto;
  padding: 50px;
  background: rgba(255, 255, 255, 0.774);
}

#panel {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.notFound {
    padding-left: 60px;
    padding-top: 30px;
    font-size: 28px;
    font-weight: bold;
}

h3 {
    padding-left: 70px;
    padding-top: 20px;
}
.icon {
  padding-left: 115px;
}
